<div class="center-block">
  <div class="form-basic">
    <div class="form-title-row">
      <h1>Editing User</h1>
    </div>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %>
  </div>
</div>