<div class="center-block">
  <div class="form-basic">
    <div class="form-title-row">
      <h1>Register</h1>
    </div>

    <%= render 'form', user: @user %>

    <%= link_to 'Login', "/signin" %>
  </div>
</div>