<div class="form-basic">
  <div class="form-title-row">

    <div class="form-title-row">
      <h1>Editing Post</h1>
    </div>

    <%= render 'form', micropost: @micropost %>

  <%= link_to 'Back', microposts_path %>
  </div>
</div>