<div class="footer-basic-centered">
  <p class="footer-company-motto">Groupe #### Tek 4</p>

  <p class="footer-links">
    <a href="#">Home</a>
    ·
    <a href="#">About</a>
    ·
    <a href="#">Faq</a>
    ·
    <a href="#">Contact</a>
  </p>

  <p class="footer-company-name">Software Project Training 2017</p>

</div>